@charset "utf-8";
/* CSS Document */
body{
	text-align: center;
	background: #999999;
	font-family:"Times New Roman", Times, serif;
}

div#container{
	margin: 0 auto;
	width: 800px;
	background:#FFF;
}
div#header{
	width:800px;
	height:auto;
	margin: 0 auto;
	background:#FFF;
}
dic#content{
	border:1px solid;
}
h1{
	color:#900;
}